@model BudgetPlanner.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<h3>Associate your @ViewBag.LoginProvider account.</h3>

@*@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}*@
@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <title>Create an Account :: Financial Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="~/css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet">
    <link href="~/css/base-admin-3.css" rel="stylesheet">
    <link href="~/css/base-admin-3-responsive.css" rel="stylesheet">
    <link href="~/css/pages/signin.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">Financial Planner</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="~/Account/Register">
                            Create an Account
                        </a>
                    </li>
                    <li class="">
                        <a href="~/Home/Index">
                            <i class="icon-chevron-left"></i>&nbsp;&nbsp;
                            Back to Homepage
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div> <!-- /.container -->
    </nav>


    <div class="account-container register stacked">
        <div class="content clearfix">
            <h1>Create Your Account</h1>
            <div class="login-social col-md-12">
            </div>
            @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
            <div class="login-fields">
                <p>Create your free account:</p>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <p class="text-info">
                    You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                    Please enter your First Name, Last Name, and Email Address below and click the Register button to finish
                    logging in.
                </p>
                <div class="field">
                    <label for="FirstName">First Name:</label>
                    <input type="text" id="FirstName" name="FirstName" value="" placeholder="First Name" class="form-control" />
                </div> <!-- /field -->
                <div class="field">
                    <label for="LastName">Last Name:</label>
                    <input type="text" id="LastName" name="LastName" value="" placeholder="Last Name" class="form-control" />
                </div> <!-- /field -->
                <div class="field">
                    <label for="Email">Email Address:</label>
                    <input type="text" id="Email" name="Email" value="" placeholder="Email" class="form-control" />
                </div> <!-- /field -->
            </div> <!-- /login-fields -->
                <div class="login-actions">
                    <span class="login-checkbox">
                        <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
                        <label class="choice" for="Field">I have read and agree with the Terms of Use.</label>
                    </span>
                    @*<button class="login-action btn btn-primary">Register</button>*@
                    <input type="submit" class="login-action btn btn-primary" value="Register" />
                </div> <!-- .actions -->
            }
        </div> <!-- /content -->
    </div> <!-- /account-container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/js/libs/jquery-1.9.1.min.js"></script>
    <script src="~/js/libs/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="~/js/libs/bootstrap.min.js"></script>
    <script src="~/js/Application.js"></script>
    <script src="~/js/demo/signin.js"></script>

</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
