@using BudgetPlanner.Models
@model LoginViewModel
@{ Layout = null;}

<head>
    <meta charset="utf-8">
    <title>Financial Planner</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

    <link href="~/css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet">

    <link href="~/css/base-admin-3.css" rel="stylesheet">
    <link href="~/css/base-admin-3-responsive.css" rel="stylesheet">

    <link href="~/css/pages/signin.css" rel="stylesheet" type="text/css">

    <link href="~/css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/img/ms-icon-310x310.png" type="image/x-icon">
    <link rel="icon" href="~/img/ms-icon-310x310.png" type="image/x-icon">

</head>

<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Financial Planner</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="~/Account/Register">
                            Create an Account
                        </a>
                    </li>
                    <li class="">
                        <a href="~/Home/Index">
                            <i class="icon-chevron-left"></i>&nbsp;&nbsp;
                            Back to Homepage
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div> <!-- /.container -->
    </nav>
    <div class="account-container stacked">
        <div class="content clearfix">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1>Sign In</h1>
                <div class="login-fields">
                    <p>Sign in using your registered account:</p>
                    <div class="field">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" value="" placeholder="Email" class="form-control input-lg username-field" />
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div> <!-- /field -->
                    <div class="field">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" value="" placeholder="Password" class="form-control input-lg password-field" />
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div> <!-- /password -->
                </div> <!-- /login-fields -->
                <div class="login-actions">
                    <span class="login-checkbox">
                        <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
                        <label class="choice" for="Field">Keep me signed in</label>
                    </span>
                    @*<button class="login-action btn btn-primary">Sign In</button>*@
                    <input type="submit" value="Log in" class="login-action btn btn-primary" />
                </div> <!-- .actions -->
            }
        <hr/>
            @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("Email", "DemoUser@Mailinator.com")
                @Html.Hidden("Password", "foo")
                <p><strong>Use the Demo User to test the site out!</strong></p>
                <button type="submit" class="btn btn-default login-actions">Demo User</button>
            }
            <br />
            <div class="col-md-12">
                <p>Sign in using social media:</p>
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div> <!-- /content -->
    </div> <!-- /account-container -->
    <!-- Text Under Box -->
    <div class="login-extra">
        Don't have an account? <a href="~/Account/Register">Sign Up</a><br />
        Remind <a href="~/Account/ForgotPassword">Password</a>
    </div> <!-- /login-extra -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/js/libs/jquery-1.9.1.min.js"></script>
    <script src="~/js/libs/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="~/js/libs/bootstrap.min.js"></script>

    <script src="~/js/Application.js"></script>

</body>

@*<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                //Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
            }
        </section>
    </div>
</div>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
