@using BudgetPlanner.Models
@using Microsoft.AspNet.Identity

<div>
    @using (Html.BeginForm("Create", "Budgets", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div>
            @{
                ApplicationDbContext db = new ApplicationDbContext();
                var userId = User.Identity.GetUserId();
                var user = db.Users.FirstOrDefault(i => i.Id == userId);
            }
        </div>
        @Html.Hidden("HouseholdId", user.HouseholdId)

        <div class="form-horizontal">
            <h4>Add Bank</h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="field">
                <label for="Name">Budget Name:</label>
                <input type="text" id="Name" name="Name" value="" placeholder="Budget Name" class="form-control" />
                @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
            </div>
            <div class="field">
                <label for="Description">Budget Description:</label>
                <input type="text" id="Description" name="Description" value="" placeholder="Budget Description" class="form-control" />
                @Html.ValidationMessage("Description", "", new { @class = "text-danger" })
            </div>
            <div class="field">
                <label for="SpendingTarget">Budget Spending Target:</label>
                <input type="text" id="SpendingTarget" name="SpendingTarget" value="" placeholder="Your Spending Target" class="form-control" />
                @Html.ValidationMessage("SpendingTarget", "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div>
            <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
        </div>
    }
</div>
