
<div>
    @using (Html.BeginForm("Edit", "BudgetItems", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Id" id="hiddenValue" value="" class="form-control" />
        <div class="form-horizontal">
            <h4>Edit Budget Category</h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="field">
                <label for="Name">Category Name:</label>
                <input type="text" id="Name" name="Name" value="" placeholder="Budget Name" class="form-control" />
                @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
            </div>
            <div class="field">
                <label for="Description">Category Description:</label>
                <input type="text" id="Description" name="Description" value="" placeholder="Budget Description" class="form-control" />
                @Html.ValidationMessage("Description", "", new { @class = "text-danger" })
            </div>
            <div class="field">
                <label for="SpendingTarget">Category Spending Target:</label>
                <input type="text" id="SpendingTarget" name="SpendingTarget" value="" placeholder="Your Spending Target" class="form-control" />
                @Html.ValidationMessage("SpendingTarget", "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div>
            <input type="submit" class="btn btn-primary btn-lg" value="Edit" />
        </div>
    }
</div>
