<!DOCTYPE html>

@using Microsoft.AspNet.Identity
@using BudgetPlanner.Models
@using BudgetPlanner.ViewModels

@{ var db = new ApplicationDbContext();
    ApplicationUser user = db.Users.Find(User.Identity.GetUserId());}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Financial Planner</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet">
    <link href="~/css/base-admin-3.css" rel="stylesheet">
    <link href="~/css/base-admin-3-responsive.css" rel="stylesheet">
    <link href="~/css/pages/plans.css" rel="stylesheet">
    <link href="~/css/pages/pricing.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="~/fontawesome-free-5.1.0-web/css/all.css" rel="stylesheet">
    <link href="~/fontawesome-free-5.1.0-web/css/brands.css" rel="stylesheet">
    <link href="~/fontawesome-free-5.1.0-web/css/fontawesome.css" rel="stylesheet">
    <link href="~/fontawesome-free-5.1.0-web/css/regular.css" rel="stylesheet">
    <link href="~/fontawesome-free-5.1.0-web/css/solid.css" rel="stylesheet">
    <link href="~/fontawesome-free-5.1.0-web/css/svg-with-js.css" rel="stylesheet">
    <link href="~/fontawesome-free-5.1.0-web/css/v4-shims.css" rel="stylesheet">
    <link href="~/fontawesome-free-5.1.0-web/css/v4-shims.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju/dt-1.10.18/datatables.min.css" />
    <link rel="shortcut icon" href="~/img/ms-icon-310x310.png" type="image/x-icon">
    <link rel="icon" href="~/img/ms-icon-310x310.png" type="image/x-icon">


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="icon-cog"></i>
                </button>
                <a class="navbar-brand" href="https://www.badgerbadgerbadger.com">Financial Planner</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javscript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <span>Hello Guest!</span>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (user == null)
                                {
                                    <span>Hello Guest!</span>
                                }
                                if (user != null)
                                {
                                    <span>@user.FirstName  @user.LastName</span>
                                }

                            }

                            <b class="caret"></b>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul class="dropdown-menu">
                                <li><a href=@Url.Action("MyProfile","Account",null)>My Profile</a></li>
                                <li class="divider"></li>
                                <li>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="col-md-offset-3">
                                            <input type="submit" value="Log Out" class="btn btn-small btn-danger" />
                                        </div>
                                        @*<a href="javascript:;">Logout</a>*@
                                    }

                                </li>
                            </ul>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <ul class="dropdown-menu">
                                @*<li><a href="~/Account/login">Login</a></li>*@
                                <li>
                                    <div class="col-md-offset-3">
                                        <input type="button" class="btn btn-small btn-success" value="Log In" onclick="location.href='@Url.Action("Login","Account")'" />
                                    </div>
                                </li>
                            </ul>

                        }
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div> <!-- /.container -->
    </nav>

    <div class="subnavbar">
        <div class="subnavbar-inner">
            <div class="container">
                <a href="javascript:;" class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="icon-reorder"></i>
                </a>
                <div class="collapse subnav-collapse">
                    <ul class="mainnav">
                        @if (!User.Identity.IsAuthenticated)
                        {

                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (user == null)
                            {

                            }
                            if (user.HouseholdId == null)
                            {
                                <li class="active">
                                    <a data-toggle="modal" data-target="#CreateHome">
                                        <i class="fa fa-fw fa-3x fa-home" style="margin-top:.25em"></i>
                                        <span>Home</span>

                                    </a>
                                </li>
                            }
                            if (user.HouseholdId != null)
                            {
                                <li class="active">
                                    <a href="~/Dashboard/Index">
                                        <i class="fa fa-fw fa-3x fa-home" style="margin-top:.25em"></i>
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="~/banks/Index">
                                        <i class="fa fa-fw fa-3x fa-university" style="margin-top:.25em"></i>
                                        <span>View Banks</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="~/Accounts/Index">
                                        <i class="fa fa-fw fa-3x fa-money-check-alt" style="margin-top:.25em"></i>
                                        <span>View Accounts</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="~/BudgetViewModel/Index">
                                        <i class="fa fa-fw fa-3x fa-money-bill-alt" style="margin-top:.25em"></i>
                                        <span>View Budgets</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="~/Transactions/Index">
                                        <i class="fa fa-fw fa-3x fa-piggy-bank" style="margin-top:.25em"></i>
                                        <span>View Transactions</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a data-toggle="modal" data-target="#AddTransaction">
                                        <i class="fa fa-fw fa-3x fa-coins" style="margin-top:.25em"></i>
                                        <span>Add Transaction</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a data-toggle="modal" data-target="#Leave">
                                        <i class="fa fa-fw fa-3x fa-times-circle" style="margin-top:.25em"></i>
                                        <span>Leave Household</span>
                                    </a>
                                </li>
                                if (User.IsInRole("HeadofHousehold"))
                                {
                                    <li class="active">
                                        <a data-toggle="modal" data-target="#Invite">
                                            <i class="fa fa-fw fa-3x fa-user-ninja" style="margin-top:.25em"></i>
                                            <span>Invite Members</span>
                                        </a>
                                    </li>
                                }
                            }

                        }
                    </ul>
                </div> <!-- /.subnav-collapse -->
            </div> <!-- /container -->
        </div> <!-- /subnavbar-inner -->
    </div> <!-- /subnavbar -->


    <div class="main">
        <div class="container">
            @RenderBody()
        </div> <!-- /container -->
    </div> <!-- /main -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    2018 Steven Underwood
                </div> <!-- /span6 -->
                <div id="footer-terms" class="col-md-6">
                    <a>Financial Planner</a>
                </div> <!-- /.span6 -->
            </div> <!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /footer -->
    <!--Modals
     ================================================= -->
    <div id="CreateHome" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal Content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" align="center">Home Options</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_CreateHomeModal")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="Invite" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal Content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" align="center">Invite User</h4>
                </div>
                <div class="modal-body">
                    @Html.Action("InviteModal", "Home")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="Leave" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal Content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" align="center">Leave Household</h4>
                </div>
                <div class="modal-body">
                    @Html.Action("LeavehouseModal", "Home")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="AddTransaction" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal Content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" align="center">Add Transaction</h4>
                </div>
                <div class="modal-body">
                    @Html.Action("AddTransaction", "Home")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/js/libs/jquery-1.9.1.min.js"></script>
    <script src="~/js/libs/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="~/js/libs/bootstrap.min.js"></script>
    @*<script src="~/js/plugins/flot/jquery.flot.js"></script>
        <script src="~/js/plugins/flot/jquery.flot.pie.js"></script>
        <script src="~/js/plugins/flot/jquery.flot.resize.js"></script>*@
    <script src="~/js/Application.js"></script>
    @*<script src="~/js/charts/area.js"></script>
        <script src="~/js/charts/donut.js"></script>*@
    <script src="~/fontawesome-free-5.1.0-web/js/all.js"></script>
    <script scr="~/fontawesome-free-5.1.0-web/js/brands.js"></script>
    <script scr="~/fontawesome-free-5.1.0-web/js/fontawesome.js"></script>
    <script scr="~/fontawesome-free-5.1.0-web/js/regular.js"></script>
    <script scr="~/fontawesome-free-5.1.0-web/js/solid.js"></script>
    <script scr="~/fontawesome-free-5.1.0-web/js/v4-shims.js"></script>
    <script src="~/Scripts/Custom.js"></script>
    <script src="~/js/plugin/moment/moment.min.js"></script>
    <script src="~/js/plugin/morris/morris-chart-settings.min.js"></script>
    <script src="~/js/plugin/morris/morris.min.js"></script>
    <script src="~/js/plugin/morris/raphael.min.js"></script>
    <script src="~/js/plugin/chartjs/chart.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/ju/dt-1.10.18/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>



    @RenderSection("Scripts", required: false)

</body>
</html>
