@model BudgetPlanner.ViewModels.LeaveHouseViewModel
    @using BudgetPlanner.Helpers
@using BudgetPlanner.Models
@using Microsoft.AspNet.Identity



<div>
    @if (!User.IsInRole("HeadofHousehold"))
    {
        using (Html.BeginForm("LeaveHouse", "Households", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.Hidden("Id", (int?)Model.HouseholdId)
            @Html.Hidden(Model.Household)
            @Html.Hidden("MemberCount", Model.LeavehouseCount)

            <div class="form-horizontal">
                <h4>Leave</h4>
                <p>Are you sure you would like to leave the Household @Model.Household?</p>
                <hr />

                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Yes" class="btn btn-success center"/>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger center" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        }
    }
    @if (User.IsInRole("HeadofHousehold") && Model.LeavehouseCount > 1)
    {
        using (Html.BeginForm("LeaveHouseHeadofHousehold", "Households", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.Hidden("Id", (int?)Model.HouseholdId)
            @Html.Hidden(Model.Household)
            @Html.Hidden("MemberCount", Model.LeavehouseCount)

            var houseHelper = new HouseHelper();
            var roleHelper = new RoleHelper();
            var Users = new ApplicationDbContext();
            var UsersinHouse = houseHelper.UsersInHouse(Model.HouseholdId);
            var newHeadofHousehold = new List<ApplicationUser>();

            <div class="form-horizontal">
                <h4>Leave</h4>
                <h5>Are you sure you would like to leave the Household @Model.Household?</h5>
                <h5>There are @Model.LeavehouseCount members in this house with you</h5>
                <hr />

                <h4>You are the Head of Household!<br /></h4>
                <h5>You cannot leave without assigning a new Head of Household</h5>
                <h5>Please select one of the following members:</h5>

                <div class="row">
                    <div class="form-group">
                        <br/>
                        @Html.Label("Members:", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("Members", null, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Yes" class="btn btn-success center" id="submit2" />
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger center" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        }
    }
    @if (User.IsInRole("HeadofHousehold") && (Model.LeavehouseCount == 1))
    {
        using (Html.BeginForm("LeaveHouseandDelete", "Households", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.Hidden("Id", (int?)Model.HouseholdId)
            @Html.Hidden(Model.Household)
            @Html.Hidden("MemberCount", Model.LeavehouseCount)

            <div class="form-horizontal">
                <h4>Leave</h4>
                <p>Are you sure you would like to leave the Household @Model.Household?</p>
                <p>This will Delete this Household</p>
                <hr />

                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Yes" class="btn btn-success center" />
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger center" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        }
    }
</div>


