@model IEnumerable<BudgetPlanner.Models.ApplicationUser>
@using BudgetPlanner.Helpers

@{
    ViewBag.Title = "Index";
}
@{ var roleHelper = new RoleHelper();}


<h2>Index</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.Display("Household")
                </th>
                <th>
                    @Html.Display("Role")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.OrderByDescending(r => r.LastName))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Household.Name)
                    </td>
                    <td>
                        @{ 
                            var Role = roleHelper.ListUserRoles(user.Id);
                        }
                        @foreach (var role in Role)
                        {
                            @role
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>